.primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.8rem 1.6rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--primary-white);
  font-family: var(--font-roboto);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  transition: all ease-in 100ms;
  cursor: pointer;
}

.primary:hover {
  background: var(--primary-color-hoverized);
}

.secondary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.8rem 1.6rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background: var(--secondary-color);
  color: var(--primary-white);
  font-family: var(--font-roboto);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  transition: all ease-in 100ms;
  cursor: pointer;
}

.secondary:hover {
  background: var(--secondary-color-hoverized);
}
/* 
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutrals_dark_100);
  background: var(--tints_aqua_100);
  width: 4.8rem;
  height: 4.5rem;
  border: none;
  border-radius: 0.45rem;
  outline: none;
  transition: all ease-in 75ms;
} */

.bordered {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 0.8rem 1.6rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  background-color: var(--primary-white);
  border-color: var(--secondary-color);
  font-family: var(--font-roboto);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-align: center;
  transition: all ease-in 75ms;
  cursor: pointer;
}

.bordered:hover {
  background: var(--secondary-color);
  color: var(--primary-white);
}